.h1{
    margin-bottom: 100px;
    margin-top: 150px;
  }
  
  .btn{
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 0.1rem solid #56a5eb;
  }
  .btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.2rem);
    transition: transform 150ms;
    
  }